.content__title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 60px 0px;
}
.content__title h2{
    font-size:45px;
}
.content__section {
    padding-bottom: 60px;
}

