.header {
    background-image: url('../../assets/header-bkg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 20px 50px;
}
.logo-wrap {
    max-height: 150px;
}
.header__logos img {
    width: 50%;
    height: auto;
    max-width: 150px;
}

.title-wrap {
    /* background: #000; */
    background-image: url('../../assets/header_panel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    min-height: 175px;
}

.title-wrap h1 {
    font-size: 65px;
}
.title-wrap h1 span {
    font-size: 50px;
    margin-top: -15px;
    display: block;
}

.header__copy {
    color: #fff;
}
@media screen and (max-width:768px){
    .header{
        background-position: top right;
    }
    .logo-wrap{
        margin-bottom: 40px;
    }
    .title-wrap{
        min-height: 110px;
    }
    .title-wrap h1{
        font-size: 40px;
    }
    .title-wrap h1 span{
        font-size: 30px;
        margin-top: -10px;
    }
}
@media screen and (max-width:767px){
    .logo-wrap img{
        width: 25%;
    }
}