.footer {
    background-color: #181818;
    color: #fff;
    padding: 60px 0px;
}
.footer__image img {
    width: 100%;
}
.footer .text-center {
    margin-bottom: 40px;
}
.footer .text-center h2 {
    font-weight: 700;
    font-size: 50px;
}
.netflix-link a {
    color: #fff;
}
@media screen and (max-width: 767px) {
    .footer__image img {
        width: 50%;
    }
}
