.section__image img {
    width: 100%;
}

.section__copy h3 {
    text-transform: uppercase;
    font-size: 32px;
}
.section__copy h3 span {
    font-size: 20px;
}
.section__copy p,
.section__copy ul {
    color: #595959;
}
.section__copy ul {
    list-style: none;
    padding: 0px;
}
.section__copy ul li {
    text-transform: uppercase;
    margin-bottom: 15px;
    text-decoration: underline;
}
.section__copy ul li:hover {
    cursor: pointer;
}
.title-break {
    border-top: 5px solid #e2b007;
}
.hl-left,
.hl-right {
    margin-left: 0px;
    margin-right: 0px;
    height: 20px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .section__copy {
        padding: 0px 25px;
    }
}
