.wtsu-modal .modal-content {
    border: 5px solid black;
}
.wtsu-modal .modal-content .modal-header {
    border-bottom: 0px;
}
.wtsu-modal .modal-content .modal-header button {
    background: black;
    opacity: 1;
}
.wtsu-modal .modal-content .modal-header button span {
    color: #fff;
}
.wtsu-modal .modal-content .modal-body {
    padding: 30px 10% 55px;
}
.wtsu-modal .modal-content .modal-body h2 {
    font-size: 50px;
}
.wtsu-modal .modal-content .modal-body p {
    color: #595959;
}
.wtsu-modal .modal-content .modal-body a {
    color: #ce9f00;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.wtsu-modal .modal-content .modal-body a.small-link {
    font-size: 1rem;
    text-transform: none;
}
.wtsu-modal .modal-content .modal-body ul {
    list-style: none;
    padding: 0px;
}
.wtsu-modal .modal-content .modal-body li {
    margin-bottom: 20px;
}
.additional-copy-modal {
    margin-bottom: 20px;
}
