@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
strong {
    font-weight: 700;
}
.container-fluid {
    max-width: 1920px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}
